div {
    margin-bottom: 20px;
}

body {
    background-color: rgb(139, 255, 226);
    
}
section {
    background-color: antiquewhite;
    padding: 15px; /* espaçamento interno */
    margin: 15px;
    width: 600px; /*largura*/
    margin: auto; /* centraliza a sessão*/
    margin-top: 100px; /*afastando o topo da pagina*/
}
h3{
    color: red;
    font-size: 22pt;
}